$jOrange: #f3a444;
.notificationContainer{
  width: 200px;
  height: 200px;
  background: white;
  border: 3px $jOrange solid;
  border-radius: 5px;
  position : fixed;
  text-align: left;
  right: 2%;
  bottom: 110px;
  z-index: 1999;
  padding :10px;
}