.attachfile-container {
  width: 100%;
  height: auto;
}

.attachfile-icon-box {
  margin: 0;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 100px 400px 1fr;
}

.attachfile-name {
  width: 100px;
  height: 50px;
}

.attachfile-data-ul {
  /* width: 100%; */
  overflow: scroll;
  height: auto;
}

.attachfile-data-li {
  margin-bottom: 7px;
  display: flex;
}

.attachfile-save {
  color: #f3a344;
  width: 20px; height: 20px;
  margin-right: 5px;
}

.attachfile-data-ul::-webkit-scrollbar {
  display: none;
}

.attachfile-data-data {
  width: 100%;
  border: none;
  cursor: pointer;
}

.attachFileModal-img {
  width: 200px; height: 200px;
}