$jOrange: #f3a444;
// $jOrange: #fc8c03;
//버튼
@mixin btnSet ($width:auto, $height:auto){
  width: $width;
  height: $height;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 1px 5px;
  color: $jOrange;
  font-size: 1rem;
  //font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 1rem;
  

  &:hover {
    background-color: $jOrange;
    color: white;
  }
}
@mixin converse-btnSet ($width:auto, $height:auto){
  width: $width;
  height: $height;
  background-color: $jOrange;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 1px 5px;  
  font-size: 0.95rem;
  //font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  

  &:hover {
    background-color: transparent;
    color: $jOrange;
  }
}
.converse-oBtn {
  @include converse-btnSet;
  // @include btnSet(30px,50px);
  &:active{
    color: white;
    border: 1px $jOrange solid;
  }
}

@mixin converse-btnSet ($width:auto, $height:auto){
  width: $width;
  height: $height;
  background-color: $jOrange;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 1px 5px;  
  font-size: 0.95rem;
  //font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  

  &:hover {
    background-color: transparent;
    color: $jOrange;
  }
}

@mixin sizeSet($width:auto, $height:auto){
  width: $width;
  height: $height;
  line-height: 30px;
  display: flex;
}

.oBtn {
  @include btnSet;
  // @include btnSet(30px,50px);
  &:active{
    color: black;
    border: 1px $jOrange solid;
  }
}

.converse-oBtn {
  @include converse-btnSet;
  // @include btnSet(30px,50px);
  &:active{
    color: white;
    border: 1px $jOrange solid;
  }
}

.twentySize{
  @include sizeSet(20px, 20px)
}

.Focused {
  background-color: $jOrange;
  border: 1px solid;
  color: white;
}

.noBorder{
  border: 0;
}

.onMapBtn{
  position: relative;
  margin: 3px 5px;
  background-color: rgba($color: white, $alpha: 0.7);
  z-index: 100;
}

.iwBtn{
  margin: 0;
  position: absolute;
  background-color: white;
  margin : 0;
  left: 162px;
  bottom: 5px;
  font-size: 22px;
  border-radius: 10px;
}

.writeBtnBox {
  display: flex;
  justify-Content: flex-end;


  .writeBtn {
    font-size: 18px;
  }
}
