.curatorContainer {
  margin-top: 2%;
  margin-left: 2%;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.curatorForm {
  margin: 15%;
  height: 60%;
  border: 2px solid #f3a344;
  border-radius: 10px;
}

.curatorForm-select {
  width: 50%; height: 35px;
  margin: 5%;
  font-size: large; font-weight: bold;
  color: #3498DA;
  border: none;
}

.curatorForm-tag {
  margin: 5%; height: 370px;
  overflow: scroll;
}

.curatorForm-tag::-webkit-scrollbar {
  display: none;
}

.tagBtn {
  background-color: white;
  border-style: none;
  font-size: medium;
  cursor: pointer;
}

.curatorForm-submit {
  width: 45%; height: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: none;
  text-align: center;
  cursor: pointer;
}

.curatorContent-ul {
  display: flex;
}

.curatorResult {
  width: 100%;
}

.curatorContent-li {
  width: 10%; height: 80px;
  /* background-color: #f3a344; */
  color: #f3a344;
  text-align: center; line-height: 40px;
  /* border: 1px solid #f3a344; */
  border-collapse: collapse;
  border-radius: 15px;
  line-height: 25px;
  cursor: pointer;
}

.curatorContent-li:hover {
  background-color: #f3a344;
  color: white;
}

.curatorContent-li-unCheck {
  background-color: white;
  color: #f3a344;
}

.curatorContent-icon {
  width: 40px; height: 40px;
}

.curatorContent-title {
  margin-top: 0;
  height: 20px;
  font-weight: bold;
}

.curatorResult-img {
  margin-top: 2%;
}

.curatorResult-img-ul {
  width: 850px; height: 600px;
  display: grid;
  grid-template-columns: 270px 270px 270px;
  gap: 20px 20px;
  overflow: scroll;
}

.curatorResult-img-ul::-webkit-scrollbar {
  display: none;
}

.curatorResult-img-li {
  width: 250px; height: 250px;
  background-color: #E0E0E0;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
}

.curatorResult-img-li > img {
  width: 250px; height: 250px;
  object-fit: cover;
  transform: scale(1);
  transition: 0.3s;
  box-shadow : 2px 3px 5px 0px;
  z-index: 66;
}
.curatorResult-img-li > .img-tag-hover {
  position: absolute;
  top: 20%;
  left: 5%;
  color: black;
  font-weight: bold;
  font-size: x-large;
  display: none;
  z-index: 99;
}
.curatorResult-img-li > img:hover {
  transform: scale(1.1);
  z-index: 950;
  filter: opacity(0.5);
}
.curatorResult-img-li > img:hover + .img-tag-hover{
  display: block;
}

.curatorResult-paging {
  margin-top: 25px;
  text-align: center;
  width: 820px;
}

@media screen and (max-width : 1100px) {
  .curatorContainer {
    display: block;
    height: 1600px;
  }

  .curatorForm {
    margin: 5%;
    width: 80%; height: 300px;
    border: 2px solid #f3a344;
    border-radius: 10px;
  }

  .curatorForm-select {
    width: 25%;
    margin-top: 2%; margin-bottom: 2%;
  }

  .curatorForm-tag {
    margin-top: 1%;
    height: 50%;
  }

  .curatorResult-Content {
    height: 150px;
  }

  .curatorContent-ul {
    margin-left: 4%;
  }

  .curatorContent-li  {
    margin-right: 2%;
    height: 120px;
  }

  .curatorContent-icon {
    width: 75px; height: 75px;
  }

  .curatorResult-img {
    margin-left: 2%;
    height: 1000px;
  }

  .curatorResult-img-ul {
    height: 1000px;
  }

  @media screen and (max-width : 850px) {
    .curatorResult-img-ul {
      grid-template-columns: 270px 270px;
    }

    .curatorContent-li  {
      height: 100px;
    }

    .curatorContent-icon {
      width: 50px; height: 50px;
    }

    .curatorResult-paging {
      margin-top: 25px;
      text-align: center;
      width: 550px;
    }
  }
}
