$jOrange: #f3a444;

@mixin contentHeight($height : auto, $tabFontSize : 20px) {
  &-tab {
    padding: 10px;
    margin: 0;
    height: auto;
    line-height: 20px;
    font-size: $tabFontSize;
    border-top: 1px solid;
    margin-bottom: 0.5 px;
  }

  &-content {
    height: auto;

    div {
      height: auto;

      div {
        // height: 100%;
      }
    }
  }
}

.detail {
  display: grid;
  grid-template-rows: 480px auto;
  width: 95%;
  margin: 0 auto;

  //헤더
  &-header {
    height: 100%;

    &Photo {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 630px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -100;
      width: 100vw;


    }

    &Info {
      width: 350px;
      height: 100%;
      margin-left: 100px;
      background-color: rgba($color: #000000, $alpha: 0.5);
      color: white;
      display: grid;
      grid-template-rows: 140px 100px 100px;

      h1 {
        padding: 20px
      }

      p,
      div {
        padding: 15px;
      }

      &-baseInfo {
        & p {
          font-size: small;
        }
      }
    }

  }

  //콘텐츠
  &-content {

    // border: 1px solid;

    &Info {
      @include contentHeight(200px);
      margin: 0;


      &-content {

        p,
        div {
          padding: 15px;
        }
      }
    }

    &Photo {
      margin-bottom: 0;
      display: grid;

      @include contentHeight(200px);

      &-content {
        width: 100%;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 300px;
        gap: 3px;

        div {
          padding: 0;


          img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 10%;
          }
        }

        .reviewListBox {
          height: 100%;
          padding: 0;
          margin: 0;

          &.testimg {
            width: 100%;
            height: 100%
          }
        }
      }
    }

    &Review {
      margin: 0;
      @include contentHeight(200px);

      &-content {
        .reviewBox {
          display: grid;
          grid-template-columns: 150px 80%;
          height: 200px;

          &-header {
            align-items: center;
            /* 수직 중앙 정렬 */
            justify-items: center;
            /* 수평 중앙 정렬 */
            display: grid;
            grid-template-rows: 100px 10% 10%;

            img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
  }

  img {

    width: 102px;
    height: 100px;
  }
}

.gray {
  // margin-left: 0;
  color: #ccc;
}

.sf {
  font-size: 0.85rem;
}

img {
  object-fit: cover;
}

hr {
  margin: 3px;
}