$jOrange: #f3a444;

@mixin contentHeight($height : auto, $tabFontSize : 20px) {
  &-tab {
    padding: 10px;
    margin: 0;
    height: auto;
    line-height: 20px;
    font-size: $tabFontSize;
    border-top: 1px solid;
    margin-bottom: 0.5px;
  }

  &-content {
    height: auto;

    div {
      height: auto;

      div {
        // height: 100%;
      }
    }
  }
}

.detail {
  display: grid;
  grid-template-rows: 480px auto;
  width: 95%;
  margin: 0 auto;

  //헤더
  &-header {
    height: 100%;

    &Photo {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 630px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -100;
      width: 100vw;


    }

    &Info {
      width: 350px;
      height: 100%;
      margin-left: 100px;
      background-color: rgba($color: #000000, $alpha: 0.5);
      color: white;
      display: grid;
      grid-template-rows: 140px 100px 100px;

      h1 {
        padding: 20px
      }

      p,
      div {
        padding: 15px;
      }

      &-baseInfo {
        & p {
          font-size: small;
        }
      }
    }

  }

  //콘텐츠
  &-content {

    // border: 1px solid;

    &Info {
      @include contentHeight(200px);
      margin: 0;


      &-content {

        p,
        div {
          padding: 15px;
          line-height: 30px;
        }
      }
    }

    &Photo {
      margin-bottom: 0;
      display: grid;

      @include contentHeight(auto);

      &-content {
        width: 80%;
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 10px;

        .review-imgBox {
          position: relative;
          border: 3px $jOrange solid;
          border-radius: 25%;
          cursor: pointer;
          width: 200px;
          height: 200px;
          background: transparent;
          margin : 5px 0;

          &:hover::before {
            content: '자세히 보기';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 24%;
            background-color: rgba(0, 0, 0, 0.5); /* 검정색의 반투명한 배경 */
            z-index: 1; /* 이미지 위에 나타나도록 z-index 조절 */
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff; /* 텍스트의 색상을 흰색으로 지정 */
            font-size: 18px; /* 텍스트의 크기 지정 */
          }

          img {
            background: transparent;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24%;
            z-index: 1;
          }


        }

        .reviewListBox {
          height: 100%;
          padding: 0;
          margin: 0;
          border-left: 1px gray solid;

          &.testimg {
            width: 100%;
            height: 100%
          }
        }
      }
    }

    &Review {
      margin: 0;
      @include contentHeight(200px);

      &-content {
        .reviewListBox {
          .reviewBox {
            width: 98%;
            display: grid;
            grid-template-columns: 78% 130px 8%;
            height: 200px;
            align-items: center;
            margin: 0 auto;

            &-header {
              justify-items: center;
              /* 수평 중앙 정렬 */
              // grid-template-rows: 100px 10% 10%;
              .reviewWriter{
                font-size : 18px;
                font-weight: 500;
              }
            .reviewDate{
              color: gray;
              font-size: 13px;
            }
              img, div {
                margin: 20px 0;
              }

              img {
                width: 100px;
                height: 100px;
              }
            }

            &-content {
              height: 130px;
              position: relative;
              padding: 10px 15px;
              //border-left: 1px #cccccc solid;

              line-height: 1.4rem;

              img {
                float: right;

              }
            }

            &-footer {
              justify-content: right;
            }

            .marginBottomBtn {
              width: 50px;
            }
          }
        }
      }
    }
  }

  .review-writeBox {
    //background: #bbbbbb;
    display: grid;
    grid-template-rows: 30px 100px 30px 40px;

    .reviewUpload {
      margin-top: 5px;
    }

    .review-btnBox {
      position: relative;

      .review-writeBtn {
        width: 100px;
        position: absolute;
        right: 1px;
        top: 3px;
      }
    }

  }

  img {
    width: 128px;
    height: 128px;
  }
}

img {
  object-fit: cover;
}

hr {
  margin: 3px;
}

.modalBox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* 검은 배경색 및 투명도 조절 가능 */
  z-index: 999;
  .modalBody{
    //position: relative;
    padding: 20px;
    position: fixed;
    top: 50%;
    left :50%;
    width: 1000px;
    height: auto;
    background: white;
    border : 5px $jOrange solid;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    grid-template-rows: 500px auto;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    img{
      height: auto;
      width: 100%;
      border-radius: 5px;
    }

    .reviewBox{
      display: grid;
      height: auto;
      grid-template-rows: 40px auto;
      margin: 5px 0;
      padding : 10px 5px;
      border-top: 3px $jOrange solid;
      &-header{
        height: 3vh;
        //display: grid;
        //grid-template-columns: 68% 32%;
        margin: 15px 0;
      }
      &-content{
        height: 5vh;
        padding : 0 3px;
        margin : 25px 0;
      }
      &-image{
        width: 128px;
        height: 128px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}