.festival-content{
  height: 7800px;
}
.festival-title{
  width: 100vw;
  text-align: center;
}
.festival-title h1, .festival-title p {
  padding: 10px;
  margin: 10px;
}
.festival-category{
  width: 100vw;
  margin: 10px;
  text-align: center;
}
.festival-category li{
  margin: 10px;
  padding: 2px;
  width: 60px;
  height: 40px;
  background-color: skyblue;
  display: inline-block;
  line-height: 40px;
  border-radius: 25px;
}
.festival-list h3{
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  margin: 50px;
  background: #f2f2f2;
  clear: both;
}
.festival-list span{
  display: inline-block;
  padding: 0 20px;
  background: #fff;
}
.festival-list ul{
  width: 90%;
  height: 100vw;
  margin: 30px auto;
}
.festival-list-item a{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.festival-item-img{
  height: 200px;
  float: left;
  width: 280px;
  margin-right: 20px;
}
.festival-item-content{
  float: left;
  width: 280px;
}
.festival-item-title{
  overflow: hidden;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  height: 60px;
}
.festival-item-start{
  font-size: 18px;
  margin-top: 30px;
  line-height: 20px;
  height: 60px;
}
.festival-item-end{
  font-size: 18px;
  line-height: 20px;
  height: 60px;
}
.on-festival li {
  float: left;
  width: 40%;
  height: 200px;
  margin: 15px 50px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 3px 4px 5px 0 rgba(2, 2, 2, 0.2);
}
.off-festival li {
  float: left;
  width: 40%;
  height: 200px;
  margin: 15px 50px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 3px 4px 5px 0 rgba(2, 2, 2, 0.2);
}

@media screen and (min-width:1024px) and (max-width:1580px) {
  .festival-content{
    height: 14800px;
  }
  .festival-category{
    width: 70%;
    margin: 10px auto;
    text-align: center;
  }
  .festival-list{
    padding: 10px;
  }
  .festival-list ul{
    width: 90%;
    margin: 30px auto;
  }
  .on-festival li {
    float: left;
    width: 70%;
    height: 200px;
    margin: 15px 50px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 3px 4px 5px 0 rgba(2, 2, 2, 0.2);
  }
  .off-festival li {
    float: left;
    width: 70%;
    height: 200px;
    margin: 15px 50px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 3px 4px 5px 0 rgba(2, 2, 2, 0.2);
  }
}
@media screen and (max-width:1024px) {
  .festival-content{
    height: 7800px;
  }
  .festival-category{
    width: 70%;
    margin: 10px auto;
    text-align: center;
  }
  .festival-list{
    padding: 10px;
  }
  .festival-item-img{
    height: 150px;
    float: left;
    width: 130px;
    margin-right: 20px;
  }
  .festival-item-content{
    float: left;
    width: 130px;
  }
  .festival-item-title{
    overflow: hidden;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    height: 60px;
  }
  .festival-item-start{
    font-size: 18px;
    margin-top: 30px;
    line-height: 20px;
    height: 60px;
  }
  .festival-item-end{
    font-size: 18px;
    line-height: 20px;
    height: 60px;
  }
  .on-festival li{
    width: 40%;
    height: 200px;
    margin: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 3px 4px 5px 0 rgba(2, 2, 2, 0.2);
  }
  .off-festival li{
    width: 40%;
    height: 200px;
    margin: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 3px 4px 5px 0 rgba(2, 2, 2, 0.2);
  }
}