.festival-title{
  width: 100vw;
  text-align: center;
}
.festival-title h1, .festival-title p {
  padding: 10px;
  margin: 10px;
}
.festival-category{
  width: 100vw;
  margin: 10px;
  text-align: center;
}
.festival-category label{
  margin: 10px;
  padding: 2px;
  width: 60px;
  height: 40px;
  background-color: skyblue;
  display: inline-block;
  line-height: 40px;
  border-radius: 25px;
}
.festival-list{
  padding: 10px;
}
.festival-list h3{
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.on-festival{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 20px;
  text-align: center;
}
.on-festival ul{
  text-decoration: none;
  list-style: none;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr;
  border-collapse: collapse;
  padding: 10px;
}
.off-festival{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 20px;
  text-align: center;
}
.off-festival ul{
  text-decoration: none;
  list-style: none;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr;
  border-collapse: collapse;
  padding: 10px;
}
.festival-list li{
  padding: 20px;
  border: 0.5px solid #ccc;
}

@media screen and (max-width:1280px) {
  .festival-category{
    width: 70%;
    margin: 10px auto;
    text-align: center;
  }
  .festival-list{
    padding: 10px;
  }
  .on-festival{
    display: block;
    text-align: center;
  }
  .off-festival{
    display: block;
    text-align: center;
  }
}