.join-container {
  margin: 0 auto;
  width: 800px;
}
.join-item{
  margin: 10px auto;
}
.item-title{
  margin: 20px auto;
  line-height: 40px;
  border-bottom: 5px solid black;
}
.email-item{
  position: relative;
}
.email-item > button{
  position: absolute;
  width: 90px;
  height: 40px;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  border-radius: 3px;
  background-color: rgb(100, 90, 232);
  color: white;
}
.item-label{
  width: 200px;
  text-align: center;
  font-size: 24px;
  margin-right: 30px;
}
.item-button{
  margin: 30px auto;
  width: 300px;
  height: 60px;
  border: 1px solid #f3a344;
  background-color: #f3a344;
  border-radius: 5px;
}

.item-input{
  /* margin-bottom: 10px; */
  width: 500px;
  height: 60px;
  border-radius: 10px;
  border : 1px solid rgb(190, 190, 190);
  
}




.user-item-tb{
  position: relative;
  margin-bottom: 30px;
}
.user-item-tb table{
  width: 100%;
}
.user-item-tb th{
  text-align: left;
}
.user-item-tb th > strong{
  font-size: 14px;
  padding-top: 14px;
  display: inline-block;
}
.user-item-tb td{
  text-align: left;
  padding-bottom: 15px;
}
.user-item-tb .brd{
  border: 1px solid white;
  background-color: white;
}
.user-item-tb .brd-ipt{
  position: relative;
  width: 95%;
  border: 0%;
  font-size: 18px;
  padding: 10px 0;
}
.user-item-tb .brd-txt{
  position: relative;
  padding-top: 5px;
  font-size: 12px;
}
.user-item-tb .phone-chk{
  margin: 5px 0;
}
.phone-btn{
  width: 150px;
  border: 1px solid #f6a143;
  background-color: #f6a143;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
.brd-email td{
  position: relative;
}
.brd-ipt-email{
  position: relative;
  width: 80%;
  border: 0%;
  font-size: 18px;
  padding: 10px 0;
}
.email-check-btn{
  position: absolute;
  right: 0;
  top: 0;
  /* border: 1px solid #f6a143;
  background-color: #f6a143; */
  border-radius: 4px;
  /* color: white; */
  font-size: 18px;
  width: 120px;
  /* height: 40px; */
}
.email-check-btn:hover {
  cursor: pointer;
}
.email-check-txt{
  position: relative;
  padding-top: 5px;
  font-size: 14px;
}
.commit-email-btn{
  width: 100px;
  border: 1px solid #f6a143;
  background-color: #f6a143;
  border-radius: 4px;
  color: white;
  margin: 0 10px;
}
.commit-email-btn:hover {
  cursor: pointer;
}
.joinUser-txt{
  border-top: 1px solid #000;
  padding-top: 10px;
}
.joinUser-txt p{
  font-size: 12px;
  line-height: 1.4rem;
}
.joinUser-btn{
  text-align: center;
  padding: 30px 0;
}
.joinUser-btn li{
  width: 49%;
}
.joinUser-btn .lt{
  float: left;
}
.joinUser-btn .lt > button{
  width: 80%;
  border: 1px solid #f6a143;
  background-color: #f6a143;
  border-radius: 4px;
  color: white;
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
}
.joinUser-btn .rt{
  float: right;
}
.joinUser-btn .rt > button{
  width: 80%;
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
}
#joinUser-Success:hover {
  cursor: pointer;
}
#joinUser-Cancel:hover {
  cursor: pointer;
}
.failPwd{
  color: red;
}
.successPwd{
  color: green;
}
.input-hidden{
  display: none;
}