//loading
.loading {

  height: 600px;
  text-align: center;

  &Icon {
    width: 30px;
    height: 30px;
    top: 50%;
    position: fixed;
    animation: spinCircle 2s infinite linear;
  }
}

@keyframes spinCircle {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}