.modal-answer-container{
  width: 500px;
  height: 700px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  clear: both;
  display: none;
}
.modal-answer-container div {
  display: block !important;
  
}
.modal-answer-close {  
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px; height: 20px;
}

.answer-writer {
  margin-top: 15px; margin-left: 3%;
}

.modal-answer-name {
  width: 100%; height: 45px;
  font-size: large;
}

.answer-inside {
  width: 100%; height: 80%;
  resize: none;
}

.answer-submit {
  margin-left: 20px;
  width: 90%; height: 40px;
  text-align: center;
  margin-top: 80px;
  border-radius: 15px;
  font-size: large; font-weight: bold;
  background-color: #f3a344;
  border: none;
}

/* map 관련 Container */
.modal-Map-container {
  width: 85vw;
  height: 85vh;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  border: 1px solid black;
  clear: both;
}

.modal-Map-close {
  width: 30px; height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.modal-Map-show {
  width: 95%; height: 95%;
  margin: 0 auto;
}