.paging-btn {
  background-color: white;
  border: none;
}

.pagingNumBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 17px;
}

.currentPage {
  font-weight: bold;
}

.content-paging {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-around;
}