.travelContainer {
  display: grid;
  grid-template-columns: 1000px 1fr;
  margin-top: 2%;
  margin-left: 2%;
  height: 1000px;
}

.rdrDateDisplayWrapper {
  display: none;
}

.travelSelect {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.travelStepBox {
  display: flex;
}

.travelStep {
  margin: 10px 10px auto;
  color: darkgray;
}

.travelSelectText {
  color: orange;
}

.travelBtn {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  justify-self: end;
}

.travelInfo {
  margin-top: 10px;
  height: 950px;
  display: grid;
  grid-template-columns: 300px 700px;
}

.searchSchedule {
  width: 100%; height: 800px;
  border: 3px solid orange;
  margin-right: 10px;
  border-radius: 20px;
}

.searchSchedule-btns {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.searchSchedule-btns-travel, .searchSchedule-btns-search, .searchSchedule-btns-thema {
  width: 32%; height: 35px;
  background-color: white;
  color: orange;
  font-size: small;  
  font-weight: bold;  
  border: none;
  cursor: pointer;
}

.searchSchedule-btns-select {
  background-color: orange;
  border-radius: 10px;
  color: white;
}

.searchSchedule-input {
  margin-top: 5px;
  text-align: center;
  height: 35px;
}

.searchSchedule-input > input {
  width: 65%;
  margin-left: 3%;
  margin-right: 3%;
  height: 75%;
}

.searchSchedule-input > button {
  width : 50px; height: 35px;
  background-color: orange;
  border: 1px solid orange;
  font-size: large;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.searchSchedule-data {
  height: 630px;
  margin: 10px 10px auto;
  overflow: scroll;
}

.searchSchedule-data::-webkit-scrollbar {
  display: none;
}

.searchSchedule-paging {
  width: 100%;
  margin: 15px 0 auto;
  text-align: center;
}

.searchSchedule-paging > ul {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.searchSchedule-paging > ul > li {
  width: 30px; height: 30px;
  margin: 0 5px;
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: #3498DA;
}

.tableForm {
  width: 90%; height: 900px;
  justify-self: center;
  display: flex;
  overflow: scroll;
}

.tableForm::-webkit-scrollbar {
  display: none;
}

.tableTr {
  width: 300px; height: 180px;
  line-height: 50px;
}

.travelSchedule-table-td {
  width: 300px;
  font-size: small;
  line-height: 20px;
  color: white;
  border: 1px solid black;
  overflow: scroll;
  flex-grow: 1; flex-basis: 0;
}

.travelSchedule-table-td::-webkit-scrollbar {
  display: none;
}

.travelSchedule-thead {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.travelSchedule-table-td-black {
  font-weight: bold;
  color: black;
}

.travelSchedule-table-btn {
  /* background-color: red;
  color: white; font-weight: bold;
  border: 1px solid red; */
  color: red;
  width: 35px; height: 35px;
  text-align: center;
  cursor: pointer;
}

.travelSchedule-table-body {
  opacity: 0.3;
  background-color: orange;
  border: 1px solid orange;
}

.Calendar {
  width: 100%;
}
